#main-create-overlay {
    margin: 2rem;
    background-color: white;
    height: 80vh;
    border-radius: 10px;
}

#main-create-content {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

#add-card-overlay {
    width: 100%;
    height: 30vh;
    border: 5px dashed grey;
    border-radius: 13px;
    cursor: pointer;
}

#add-card-overlay:hover {
    text-decoration: underline;
}

#add-card-content {
    padding: 1rem;
    width: 100%;
    height: 100%;
    align-items: center;
}