@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&family=Rubik+Mono+One&display=swap');

html, * {
    padding: 0;
    margin: 0;
    font-family: "Monda";
    text-decoration: none;
}

html {
    background-color: #f3e9dc;
}

input, select, textarea {
    width: 100%;
    border-style: none;
    cursor: pointer;
}

input, textarea {
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

input:hover, textarea:hover {
    background-color: rgba(128, 128, 128, 0.452);
    transition: 0.3s;
    color: black;
    border-radius: 10px;
}

select {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

select:hover {
    background-color: rgba(128, 128, 128, 0.452);
    transition: 0.3s;
    border-radius: 10px;
}